{% extends 'base.html.twig' %}

{% block body %}
    <h3>Abouts Us</h3>

    <p>We are a new company, selling roots for many purposes : you can cut it, boil it, eat it, offer it... 
I you have any question, you can ask us in the Contact tab.
    </p>
{% endblock %}