<footer class="navbar fixed-bottom navbar-dark ">
    <div class="container">
        <div class="row footer">
                <ul>
                        <li>
                            <a class="fb" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                            <a class="insta" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                            <a class="twitter" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                        </li>
                    
                        <li><a class="service nav-link" href="{{path('service')}}">Customer Service</a></li>
                        <li><a class="infos nav-link" href="{{path('infos')}}">Infos</a></li>
                        <li><a class="contact nav-link" href="{{path('contact')}}">Contact</a></li>
                    </ul>
        </div>
    </div>
    

</footer>