<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{{path('home')}}" class="navbar-brand">
            <h2>Roots</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('full_page_product')}}">Products</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path("shopping_cart")}}">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('user_profile_update')}}">Profile</a>
                </li>
                <div class="right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("gestion/add")}}">Add Product</a>
                    </li>
            </ul>
            </div>
            {% endif %}
            <ul>
                <li>
                    <div id="sidebar">
                        {{ render(controller( 'App\\Controller\\SessionController::index' )) }}
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>