{% extends 'base.html.twig' %}

{% block body %}
    <h3>Q & A</h3>
    <h4>You can ask any question</h4>

<h6>How can I pay ?</h6>
    <p>You can add products in your shopping cart and then, you can pay for all of your products.</p>

<h6>How do I add products in my shopping cart ?</h6>
    <p>When you search for one product, you can click on the add symbol and the product goes in your shopping cart.</p>

<h6>How many kind of roots have you ?</h6>
    <p>We have a lot of roots but the number depends on the season and the production of our partners.</p>
{% endblock %}